<html>
  <head>
	<title>Ruby on Rails Tutorial Sample App | Hello</title>
  </head>
  <body>
	<h1>Sample App</h1>
	<p>
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application
    </p>
  </body>
</html>